
*,*::before, *::after{
  box-sizing: border-box;
}

:root{
  --accent-color: #5E7FF2;
  --lighter-accent-color: #E5E9F5;
  --message-color:#93A8DC;
  --white-color: #FFFFFF;
  --primary-buttons-color: #D1E4FF;
  --green-color: #8FFF67;
  --yellow-color: #FFE483;
  --red-color: #FF8080;
  --dark-grey-color: #323232;
  --light-grey-color: #C4C4C4;
  --lighter-grey-color: #D9D9D9;
  --logo-color: #FFC9C9;
}
.App {
  text-align: center;
  margin-top: auto;
  
  padding: 0;
  min-height: 100vh;
  transition: all ease-in-out;
  
}


/*.......................*/

.flex{
  display: flex;
}

.footer{

  color: var(--accent-color);
  font-size: 1em;
  background-color: var(--dark-grey-color);
  text-align: center;
  width: 100%;
  padding: 50px;
}
/* .footer .footerText:hover{
  animation-name: colorHighlight;
  animation-iteration-count: 3;
  animation-duration: 100ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  
} */

.whileInView{
  animation-name: colorHighlight;
  animation-iteration-count: infinite;
  animation-duration:4000ms;
  /* transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
  transition: all ease;
}

@keyframes colorHighlight {
  from{color: var(--accent-color);}
  to{color: var(--message-color);}
  
}

/* Login*/
.main{
  min-height: 100vh;
}

.login-container{
  flex-direction: column;
  padding: 2rem 3rem;
  margin: 10% auto ;
  background-color: var(--lighter-grey-color) ;
  box-shadow: rgba(0, 0, 0, 0.452) 2rem 2rem 2rem;
  width: 20em ;
  min-height: 30em;
  height: fit-content;
  /* border:2px solid rgb(255, 0, 0); */
  

  border-radius: 8px;

}
.logo-login{
  width: 100px;
  min-height: 100px;
  border-radius: 100%;
  padding: 1rem;
 
  margin: auto;

}
.login-message{
  background-color: var(--message-color);
  padding: 1rem 1rem;
  border-radius: 8px;
  width: 200px;

  font-size: 1.2rem;
}
.login-form{
  flex-direction: column;
 
  gap: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.login-form input{
  font-size: 1.3rem;
  line-height: 2.3rem;
  border-radius: 4px;
  border-style: hidden;
  outline: none;
  width: 200px;
  background-color: #5E7FF2;
  text-align: center;
}
::-webkit-input-placeholder { /* Edge */
  color: var(--white-color);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--white-color);
}

::placeholder {
  color: var(--white-color);
}


.admin-div{
  flex-direction: row;
  width: 200px;
}


#admin-checkbox-label{
  
  display: block;
  width:200px;
  /* line-height: 0.5rem; */
  /* border: 1px solid black; */
  font-size: 0.8rem;
  text-align: right;
  
}
#admin-checkbox{
  
  border: 1px solid black;
  display: inline;
  
  /* width:50px; */
  
}

#admin-checkbox{
  background-color: #5E7FF2;
}
#admin-checkbox:checked{
  background-color: #5E7FF2;
}



.login-form button{
  background-color: var(--primary-buttons-color);
  padding: 0.5rem 0.2rem;
  width: 6rem;
  font-size: 1rem;
  border-style: hidden;
  border-radius: 4px;
}

/*login form error styles*/
.formFieldError {
  border: 1px solid #e11d48;
  
}

.formFieldErrorMessage {
  color: #e11d48;
  
  
 
}

/*account page*/

.account-page-container{
  top: 0;
  margin-top: 0;
  padding: 0  0 ;

  min-height: 100vh;
  /* border: 1px solid blue; */
}

.main-content{
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 180px;
  width: 100vw;
  gap: 10px;
  left: 40px;
  /* border: 1px solid red; */
  
}

/*account page*/

.navbar-container{
  margin-bottom: 20px;
  position: fixed;
  margin-right: auto;
  margin-left: auto;
}
.main-content{
  margin-top: 0;
  
}
.sidenav-container{
  position: fixed;
  margin: 100px;
  left: 20px;
  top: 80px;
  
}
/* .side-nav{
  position: fixed;
} */
.logo-small{
  padding: 10px;
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
 
  margin-left: 60px;
  
}
.header-container{
  background-color: var(--white-color);
  position: fixed;
  width: 100vw;
  height: 170px;
  margin-top: 0;
  z-index: 1;
}

header{
  position: absolute;
  flex-direction: row;
  justify-content:space-around;
  left: 3vw;
  right: 2.5vw;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  background-color: var(--lighter-grey-color);
  border-radius: 60px;
  
  /* border: 1px solid red; */
}
header li{
  list-style: none;
  
  display: inline-block;
  padding: 0 20px;
}
header li a{
  color: black;
  text-decoration: none;
}
header li a:hover{
  color: var(--accent-color);
  
}
header li a:focus{
  color: var(--accent-color);
  
}

.side-nav-container{
  background-color: var(--lighter-grey-color);
  width: 170px;
  line-height: 50px;
  border-radius: 8px;
  padding: 1rem 0.5rem;
}
.side-nav-container nav ul li{
  list-style-type: none;
  margin-right:50px;
  
}
.side-nav-container nav ul li a{
  text-decoration: none;
  color: black;
}
.side-nav-container nav ul li a:hover{
  color: var(--accent-color);
}
.side-nav-container nav ul li a:focus{
  color: var(--accent-color);
}


.main-content #calendar{
  /* background-color: #8FFF67; */
}
.today-container{
  position: relative;
  z-index: -1;
  background-color: var(--accent-color);

  border-radius: 10px;
  margin-left: 250px;
  margin-top:40px;
  min-width: 600px;
}
.today-container .today-title{
  position: absolute;
  margin-left: 250px;
  margin-top: -25px;

}
.today-container .cards-wrapper{
  margin-top:40px;

}